<!--<nav>
  <a routerLink='/home' routerLinkActive='active'>Home</a>  |
  <a routerLink='/product' routerLinkActive='active'>Product Details</a>  |
  <a routerLink='/customer' routerLinkActive='active'>Customer Details</a>

</nav>

<router-outlet></router-outlet>-->






<!--<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <a routerLink='/home' routerLinkActive='active'>Home</a>  |
    <a routerLink='/product' routerLinkActive='active'>Product Details</a>  |
    <a routerLink='/customer' routerLinkActive='active'>Customer Details</a> |
    <a routerLink='/java' routerLinkActive='active'>Java</a>  |
    <a routerLink='/web' routerLinkActive='active'>Web</a> |
    <a routerLink='/form' routerLinkActive='active'>TD_Form</a> |
    <a routerLink='/modeldrivenform' routerLinkActive='active'>ModelDriven Form</a>
  </div>
</nav>-->
<!--<app-header></app-header>
<router-outlet></router-outlet>
<br />
<br />
<app-footer></app-footer>-->


<!--<app-temp-driven-form></app-temp-driven-form>-->
<!--<app-login></app-login>-->

<router-outlet></router-outlet>
