/*nav{
    color:blue;
    font-size:28px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:antiquewhite;
    border:2px solid black;
}

*/
